<div class="layout bg-primary">
  <div class="form bg-dark">
    <img class="logo" src="assets/mq-logotipo-completo-blanco.png" alt="" />
    <div style="display: grid; gap: 20px">
      <div class="input-layout">
        <p class="lbl c-light">Correo</p>
        <input class="inp" type="text" />
      </div>
      <div class="input-layout">
        <p class="lbl c-light">Contraseña</p>
        <input class="inp" type="password" />
        <p class="text c-light">¿Has olvidado tu contraseña?</p>
      </div>
    </div>
    <div class="m-auto">
      <button class="btn btn-accent">Entrar</button>
    </div>
  </div>
</div>
