$primary-color: #E4C048;;
$secondary-color: #343434;
$accent-color: #A03434;
$success-color: #64bb67;
$danger-color: #e95050;
$warning-color: #ffa927;
$info-color: #2857ce;
$light-color: #efefef;
$dark-color: #2a2b2d;

$font-family: 'Poppins', sans-serif;